* {
  margin: 0;
  padding: 0;
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes p-animation1 {
  0% {
    transform: translate(-100vw, 0);
    opacity: 1;
  }
  50% {
    transform: translate(0vw, 0);
    opacity: 1;
  }
  100% {
    transform: translate(100, 0);
    opacity: 0;
  }
}

nav {
  background-color: white;
  width: 100%;
  padding: 0 !important;
}

nav .nav-box-left {
  margin-left: 4vw;
}

nav .nav-box-left img {
  width: 15vw;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  nav .nav-box-left img {
    width: 35vw;
  }
}

@media screen and (max-width: 600px) {
  nav div:last-of-type div {
    display: flex;
    flex-direction: column;
  }
}

nav div:last-of-type div .dropdown {
  margin: 0 !important;
}

nav div:last-of-type div .dropdown:hover .dropdown-content {
  display: grid;
  width: auto;
  grid-template-columns: auto auto auto;
  grid-auto-rows: auto;
  cursor: pointer;
  grid-template-areas: 'basic . compare' 'premium . compare ' 'business . compare';
}

nav div:last-of-type div .dropdown:hover .dropdown-content2 {
  display: grid;
  width: auto;
  grid-template-columns: auto auto auto;
  grid-auto-rows: auto;
  cursor: pointer;
  grid-template-areas: 'basic compare' 'premium contact ' 'business .';
}

nav div:last-of-type div .dropdown a i {
  font-size: 0.8vw;
}

nav div:last-of-type div .dropdown .dropdown-content {
  display: none;
  margin-top: 1.3vw;
  padding: 0.5vw;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: .5vw;
}

nav div:last-of-type div .dropdown .dropdown-content:before {
  content: "";
  position: absolute;
  top: -20px;
  left: 18px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #f9f9f9;
}

nav div:last-of-type div .dropdown .dropdown-content div {
  padding: 1vw 0.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: .5vw;
}

nav div:last-of-type div .dropdown .dropdown-content div:nth-of-type(1) {
  grid-area: basic;
}

nav div:last-of-type div .dropdown .dropdown-content div:nth-of-type(2) {
  grid-area: premium;
}

nav div:last-of-type div .dropdown .dropdown-content div:nth-of-type(3) {
  grid-area: business;
}

nav div:last-of-type div .dropdown .dropdown-content div:nth-of-type(4) {
  grid-area: compare;
}

nav div:last-of-type div .dropdown .dropdown-content div:nth-of-type(5) {
  grid-area: contact;
}

nav div:last-of-type div .dropdown .dropdown-content div:hover {
  background-color: green;
}

nav div:last-of-type div .dropdown .dropdown-content div:hover i {
  color: white;
}

nav div:last-of-type div .dropdown .dropdown-content div:hover div.box1 p {
  color: white;
}

nav div:last-of-type div .dropdown .dropdown-content div:hover div.box1 span {
  color: white;
}

nav div:last-of-type div .dropdown .dropdown-content div i {
  font-size: 3vw;
  color: green;
}

nav div:last-of-type div .dropdown .dropdown-content div div.box1 {
  margin-left: 1vw;
  margin-right: 3vw;
  display: flex;
  flex-direction: column;
}

nav div:last-of-type div .dropdown .dropdown-content div div.box1 p {
  text-transform: uppercase;
  color: green;
  font-size: 1vw;
  width: 10vw;
  margin: 0;
}

nav div:last-of-type div .dropdown .dropdown-content div div.box1 span {
  font-size: 0.8vw;
  color: green;
  width: 10vw;
}

nav div:last-of-type div .dropdown .dropdown-content2 {
  display: none;
  margin-top: 1.3vw;
  padding: 0.5vw;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: .5vw;
}

nav div:last-of-type div .dropdown .dropdown-content2:before {
  content: "";
  position: absolute;
  top: -20px;
  left: 18px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #f9f9f9;
}

nav div:last-of-type div .dropdown .dropdown-content2 div {
  padding: 1vw 0.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: .5vw;
}

nav div:last-of-type div .dropdown .dropdown-content2 div:nth-of-type(1) {
  grid-area: basic;
}

nav div:last-of-type div .dropdown .dropdown-content2 div:nth-of-type(2) {
  grid-area: premium;
}

nav div:last-of-type div .dropdown .dropdown-content2 div:nth-of-type(3) {
  grid-area: business;
}

nav div:last-of-type div .dropdown .dropdown-content2 div:nth-of-type(4) {
  grid-area: compare;
}

nav div:last-of-type div .dropdown .dropdown-content2 div:nth-of-type(5) {
  grid-area: contact;
}

nav div:last-of-type div .dropdown .dropdown-content2 div:hover {
  background-color: green;
}

nav div:last-of-type div .dropdown .dropdown-content2 div:hover i {
  color: white;
}

nav div:last-of-type div .dropdown .dropdown-content2 div:hover div.box1 p {
  color: white;
}

nav div:last-of-type div .dropdown .dropdown-content2 div:hover div.box1 span {
  color: white;
}

nav div:last-of-type div .dropdown .dropdown-content2 div i {
  font-size: 3vw;
  color: green;
}

nav div:last-of-type div .dropdown .dropdown-content2 div div.box1 {
  margin-left: 1vw;
  margin-right: 3vw;
  display: flex;
  flex-direction: column;
}

nav div:last-of-type div .dropdown .dropdown-content2 div div.box1 p {
  text-transform: uppercase;
  color: green;
  font-size: 1vw;
  width: 10vw;
  margin: 0;
}

nav div:last-of-type div .dropdown .dropdown-content2 div div.box1 span {
  font-size: 0.8vw;
  color: green;
  width: 10vw;
}

nav div:last-of-type div a {
  font-weight: bold;
  margin: 0 1.5vw;
  color: black;
  text-decoration: none;
}

nav div:last-of-type div a:hover {
  color: #009a00;
}

nav div:last-of-type div.box-right {
  margin-right: 4vw;
}

nav div:last-of-type div.box-right a {
  font-weight: normal;
  text-decoration: none;
  margin: 0;
}

nav div:last-of-type div.box-right span {
  margin: 0 2vw;
  text-align: center;
}

nav div:last-of-type div.box-right button {
  border: 2px solid #33cc33;
  margin: 0;
  background-color: white;
  padding: 0.5vw 2.5vw;
  cursor: pointer;
  border-radius: 0.3vw;
}

nav div:last-of-type div.box-right button:hover {
  border-color: #00e600;
}

.header {
  padding: 5vw 0;
  background-color: #f5f5f0;
}

.header div.bg-grey {
  background-color: #f5f5f0;
  margin: 3vw 0;
}

.header div.bg-grey p {
  font-size: 2.2vw;
  color: grey;
}

@media screen and (max-width: 600px) {
  .header div.bg-grey p {
    font-size: 7vw;
  }
}

.header img {
  margin: 4vw 0;
}

.header h2 {
  font-weight: 600;
  font-size: 3vw;
}

@media screen and (max-width: 600px) {
  .header h2 {
    font-size: 10vw;
    margin: 8vw 0;
  }
}

.homepage {
  padding: 5vw 0;
}

.homepage .button-collobrate {
  text-align: center;
}

.homepage .button-collobrate button {
  margin-top: 6vw;
  font-weight: bold;
  background-color: #29a329;
  border-radius: .5vw;
  padding: 1vw 3vw;
  border: none;
  color: white;
  cursor: pointer;
}

.homepage .button-collobrate button:hover {
  background-color: #33cc33;
}

@media screen and (max-width: 600px) {
  .homepage div img {
    width: 60vw;
    margin: 0 auto;
    display: block;
    margin-top: 10vw;
  }
}

.homepage div div h2 {
  font-size: 3vw;
  color: green;
}

@media screen and (max-width: 600px) {
  .homepage div div h2 {
    margin-top: 5vw;
    font-size: 5vw;
    margin-left: 4vw;
  }
}

.homepage div div h3 {
  margin: 2vw 0;
  font-size: 1.8vw;
  line-height: 3vw;
  margin-bottom: 3vw;
}

@media screen and (max-width: 600px) {
  .homepage div div h3 {
    font-size: 5vw;
    margin: 5vw 0;
    line-height: 6vw;
    margin-left: 4vw;
  }
}

.homepage div div span {
  font-weight: bold;
  color: green;
  text-align: left;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .homepage div div span {
    font-size: 4vw;
    margin-left: 4vw;
  }
}

.homepage div div span:hover {
  color: #00b300;
}

.homepage div div span:hover i {
  color: #00b300;
}

.homepage div div span i {
  color: green;
}

.slideshow {
  padding: 15vw 0;
}

@media screen and (max-width: 600px) {
  .slideshow {
    padding-top: 200vw;
    padding-bottom: 110vw;
  }
}

.slideshow .carousel-indicators .active {
  opacity: 1 !important;
}

.slideshow ul {
  width: 90vw;
}

@media screen and (max-width: 600px) {
  .slideshow ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.slideshow ul li:nth-of-type(1) {
  width: 30vw;
  height: 5vw;
  background-image: url(images/business-active-black.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.4;
  margin: 0 2vw;
}

@media screen and (max-width: 600px) {
  .slideshow ul li:nth-of-type(1) {
    margin: 5vw 0;
    width: 60vw;
    height: 20vw;
  }
}

.slideshow ul li:nth-of-type(1):hover {
  opacity: 1;
}

.slideshow ul li:nth-of-type(2) {
  width: 30vw;
  height: 5vw;
  background-image: url(images/the-verge.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.4;
  margin: 0 2vw;
}

@media screen and (max-width: 600px) {
  .slideshow ul li:nth-of-type(2) {
    margin: 5vw 0;
    width: 60vw;
    height: 20vw;
  }
}

.slideshow ul li:nth-of-type(2):hover {
  opacity: 1;
}

.slideshow ul li:nth-of-type(3) {
  width: 30vw;
  height: 5vw;
  background-image: url(images/webby-active.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.4;
  margin: 0 2vw;
}

@media screen and (max-width: 600px) {
  .slideshow ul li:nth-of-type(3) {
    margin: 5vw 0;
    width: 60vw;
    height: 20vw;
  }
}

.slideshow ul li:nth-of-type(3):hover {
  opacity: 1;
}

.slideshow ul li:nth-of-type(4) {
  width: 30vw;
  height: 5vw;
  background-image: url(images/forbes-active-black.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.4;
  margin: 0 2vw;
}

@media screen and (max-width: 600px) {
  .slideshow ul li:nth-of-type(4) {
    margin: 5vw 0;
    width: 60vw;
    height: 20vw;
  }
}

.slideshow ul li:nth-of-type(4):hover {
  opacity: 1;
}

.slideshow ul li:nth-of-type(5) {
  width: 30vw;
  height: 5vw;
  background-image: url(images/cloud100-active.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.4;
  margin: 0 2vw;
}

@media screen and (max-width: 600px) {
  .slideshow ul li:nth-of-type(5) {
    margin: 5vw 0;
    width: 60vw;
    height: 20vw;
  }
}

.slideshow ul li:nth-of-type(5):hover {
  opacity: 1;
}

.slideshow ul li:nth-of-type(6) {
  width: 30vw;
  height: 5vw;
  background-image: url(images/the-manual.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.4;
  margin: 0 2vw;
}

@media screen and (max-width: 600px) {
  .slideshow ul li:nth-of-type(6) {
    margin: 5vw 0;
    width: 60vw;
    height: 20vw;
  }
}

.slideshow ul li:nth-of-type(6):hover {
  opacity: 1;
}

.slideshow .slide-text-box {
  position: absolute;
  top: 2vw;
}

.slideshow .slide-text-box div p {
  font-size: 1.5vw;
  color: black;
  margin: 0 10vw;
}

@media screen and (max-width: 600px) {
  .slideshow .slide-text-box div p {
    font-size: 7vw;
  }
}

.four-div {
  background-color: #f5f5f0;
  padding: 3vw 0;
}

.four-div h2 {
  margin: 5vw 0;
  font-size: 3vw;
}

@media screen and (max-width: 600px) {
  .four-div h2 {
    font-size: 7vw;
  }
}

.four-div button {
  margin-top: 5vw;
  font-weight: bold;
  background-color: #29a329;
  border-radius: .5vw;
  border: none;
  color: white;
  cursor: pointer;
}

.four-div button:hover {
  background-color: #33cc33;
}

.four-div div div div {
  background-color: #f5f5f0;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .four-div div div div {
    margin: 2vw 0;
  }
}

.four-div div div div img {
  width: 40%;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .four-div div div div img {
    width: 30%;
    margin-bottom: 5vw;
  }
}

.four-div div div div h2 {
  font-size: 2vw;
  margin: 1vw 0;
  margin-bottom: 3vw;
}

@media screen and (max-width: 600px) {
  .four-div div div div h2 {
    margin-top: 2vw;
    font-size: 4vw;
    font-weight: bold;
  }
}

.four-div div div div p {
  line-height: 2.5vw;
}

@media screen and (max-width: 600px) {
  .four-div div div div p {
    line-height: 5vw;
    margin: 3vw 0;
  }
}

.at-work {
  padding: 5vw 0;
}

.at-work img {
  margin-bottom: 3vw;
}

@media screen and (max-width: 600px) {
  .at-work img {
    margin-top: 8vw;
  }
}

.at-work h2 {
  font-size: 3vw;
  margin: 3vw 0;
}

@media screen and (max-width: 600px) {
  .at-work h2 {
    font-size: 12vw;
    margin: 10vw 0;
  }
}

.at-work p {
  font-size: 1.8vw;
}

@media screen and (max-width: 600px) {
  .at-work p {
    font-size: 8vw;
  }
}

.brain {
  padding: 5vw 0;
}

.brain div div h2 {
  color: green;
  font-size: 3vw;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .brain div div h2 {
    font-size: 8vw;
    text-align: left;
    margin-left: 2vw;
  }
}

.brain div div p {
  font-size: 1.8vw;
  margin: 4vw 0;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .brain div div p {
    font-size: 5vw;
    margin-left: 2vw;
  }
}

.brain div div span {
  font-weight: bold;
  color: green;
  cursor: pointer;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .brain div div span {
    font-size: 4vw;
    margin-left: 2vw;
  }
}

@media screen and (max-width: 600px) {
  .brain div div span {
    font-size: 4vw;
  }
}

.brain div div span:hover {
  color: #00b300;
}

.brain div div span:hover i {
  color: #00b300;
}

.brain div div span i {
  color: green;
}

@media screen and (max-width: 600px) {
  .brain div div img {
    margin-top: 7vw;
    width: 50vw;
  }
}
