@import 'hamburg';
@import 'form';
@import 'eugen';

.limited{
  display: flex;
  justify-content: center;
  padding: 7vw 0;

  @media screen and (max-width: 600px){
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: ' div1 '
                         ' div2 ';
  }
  .div1{
    width: 40%;
    margin-left: 7vw;
    grid-area: div1;

    @media screen and (max-width: 800px){
      width: 70%;
      margin-left: 12vw;
    }


    h3{
      font-size: 3vw;
      font-weight: bold;
      font-family: 'Sawarabi Mincho', sans-serif;
      color:black;

      @media screen and (max-width: 800px){
        font-size: 7vw;
      }
    }

    p{
      color:black;
      font-size:2vw;
      line-height:3vw;
      letter-spacing: 1px;
      padding-top: 1vw;

      @media screen and (max-width: 800px){
        font-size: 5vw;
        line-height:7vw;
        margin: 7vw 0;
      }
    }
    button{
      background: green;
      font-size: 1vw;
      text-transform: uppercase;
      font-weight: bold;
      border: none;
      padding:1vw 2vw;
      color:white;
      margin-top: 2vw;
      border-radius:0.5vw;
      cursor: pointer;

      @media screen and (max-width: 800px){
        font-size: 5vw;
        padding:3vw 3vw;
      }

      &:hover{
        background: darken(green, 7%);
      }

    }
  }
  .div2{
    grid-area: div2;
    width: 35vw;
    height:15vw;
    margin:5vw 0;
    margin-right: 7vw;
    margin-left: 10vw;
    background-image: url(images/discount.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @media screen and (max-width: 800px){
      width:70vw;
      height:30vw;
      margin-top: 10vw;
    }
  }


}


// section{
//   display: flex;
//
//   width: 100%;
//
//     .div3{
//
//     height: 40vw;
//       width: 50%;
//       margin-right:4vw;
// p{
//   text-align: center;
//   color:green;
//   font-size: 4vw;
//   direction: ltr;
//   word-spacing:3px;
//   letter-spacing:1px;
// }
// h5{
//   font-size: 2vw;
//   word-spacing: 3px;
//   line-height:4.3vw;
// }
// a{
//   text-decoration: none;
//   color:green;
//   margin: 0 2vw;
//
//   &:hover{
//   color:lighten(green, 15%);
//   }
//
//
// }
//
// }
//
//   .div4{
//
//     height:40vw;
//     width: 50%;
//     background-image: url(../images/homepage-remember-everything.png);
//     background-repeat: no-repeat;
//     background-size:55% 60%;
//     background-position: right;
//     margin-right: 10vw;
//
//   }
//
// }
//
//  .section6{
//    height: auto;
//
//    p{
//      font-size: 4.2vw;
//      font-weight: bold;
//     margin: 0 auto;
//    font-family: 'Sawarabi Mincho', sans-serif;
//      color:black;
//
//    }
//
//  }

 .section10{
   padding: 5vw 0;
   text-align: center;

  .center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (max-width: 600px){
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    div{
     width:27vw;

     @media screen and (max-width: 600px){
      width:50vw;
     }

     p{
        font-size: 1.5vw;
        text-align: center;
        font-weight: bold;
        margin-top: 18vw;

        @media screen and (max-width: 600px){
          margin-top: 43vw;
          font-weight: bold;
          font-size: 4vw;
        }
      }

     @each $num,$img in (1,web-clipping),
     (2,multi-device-sync),(3,search-handwriting),
     (4,notebooks-tags),(5,doc-icon),
     (6,pdf-document-search),
     {

         &:nth-of-type(#{$num}){
         height: 22vw;
         background-image: url(images/#{$img}.png);
         background-repeat: no-repeat;
         background-size: 45% 45%;
         background-position:center;

         @media screen and (max-width: 600px){
          height:50vw;
         }

         }
      }
    }
  }

}

footer.footer{
  display: flex;
  flex-direction: column;
  padding: 4vw 0;
  background-color: #fff;

      div.logo{
          width:  14vw;
          height: 6vw;
          padding: 4vw;
          margin-left: 4vw;
          background-image: url(../images/logo.jpg);
          background-size: 100% 100%;

          @media screen and (max-width: 600px){
            width: 35vw;
            height: 20vw;
          }
      }
      div.line{

          width: 90%;
          margin: 0 auto;

           hr {
               width: 100%;
               border: none;
               height: 5px;
               background-color: #000;
            }

       }

       div.text{
         display:flex;
         flex-direction: row;
        justify-content: space-between;
         width: 90%;
         margin: 2vw auto;
         padding: 0;

         @media screen and (max-width: 600px){
           flex-direction: column;
         }

      div{
         margin-right: 4vw;
         p:first-of-type{
          font-weight: bold;
          }
        }

        .sign-in-footer{
         margin:0;

         a{
         font-weight: normal;
         text-decoration: none;
         margin:0;
         @media screen and (max-width: 600px){
           border: none;
         }
        }

        span{
          margin: 0 2vw;
          text-align: center;
        }

        button{
          border: 2px solid #33cc33;
          margin:0;
          background-color: white;
          padding: 0.5vw 1.5vw;
          cursor: pointer;
          border-radius: 0.3vw;
          &:hover{
            border-color: lighten(green, 20%);
          }
         }
        }
     }

   }
