.hamburg_home {
  background-color: #00a82d;
  padding: 5vw 0;
}

.hamburg_home div.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .hamburg_home div.main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 'header' 'text' 'button' 'image';
  }
}

.hamburg_home div.main div:first-of-type {
  display: flex;
  flex-direction: column;
  padding: 1.5vw 0.5vw;
  margin: 2vw 4vw;
  width: 40vw;
}

@media screen and (max-width: 600px) {
  .hamburg_home div.main div:first-of-type {
    width: 70vw;
  }
}

.hamburg_home div.main div:first-of-type h2, .hamburg_home div.main div:first-of-type p {
  color: #fff;
}

.hamburg_home div.main div:first-of-type h2 {
  font-weight: 600;
  font-size: 4.5vw;
  grid-area: header;
}

@media screen and (max-width: 600px) {
  .hamburg_home div.main div:first-of-type h2 {
    font-size: 8vw;
  }
}

.hamburg_home div.main div:first-of-type p {
  margin: 3vw 0;
  font-size: 1.8vw;
  grid-area: text;
}

@media screen and (max-width: 600px) {
  .hamburg_home div.main div:first-of-type p {
    font-size: 5vw;
  }
}

.hamburg_home div.main div:first-of-type button {
  color: green;
  padding: 1.2vw 0.5vw;
  width: 50%;
  font-size: 1.5vw;
  font-weight: bold;
  background-color: #fff;
  border-radius: 0.5vw;
  border: none;
  grid-area: button;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .hamburg_home div.main div:first-of-type button {
    margin-top: 4vw;
    font-size: 5vw;
    padding: 4vw 4vw;
    width: 100%;
    border-radius: 1.5vw;
  }
}

.hamburg_home div.main div:first-of-type button:hover {
  background-color: #f2f2f2;
}

.hamburg_home div.main div:last-of-type {
  display: flex;
  flex-direction: column;
  padding: 1.5vw 0.5vw;
  margin: 2vw 4vw;
  width: 40vw;
  border: 5px;
}

.hamburg_home div.main div:last-of-type h2 {
  color: #fff;
}

.hamburg_home div.main div:last-of-type img {
  width: 40vw;
  grid-area: image;
}

@media screen and (max-width: 600px) {
  .hamburg_home div.main div:last-of-type img {
    width: 70vw;
  }
}

form {
  display: grid;
  background-color: #00a82d;
  grid-template: repeat(9, auto)/repeat(6, 1fr);
  grid-gap: 0.2vw 0.5vw;
  padding: 5vw 0;
}

@media screen and (max-width: 600px) {
  form {
    display: flex;
    flex-direction: column;
  }
}

form button, form h4, form input, form p.policy {
  border-radius: 0.5vw;
}

form h2 {
  grid-area: 5 / 1 / span 1 / span 4;
  font-size: 3vw;
  padding: 0.5vw 0.5vw;
  color: white;
  margin: 1vw 6vw;
}

@media screen and (max-width: 600px) {
  form h2 {
    font-size: 6vw;
    text-align: center;
    font-weight: 500;
  }
}

form p.description {
  grid-area: 6 / 1 / span 1 / span 4;
  font-size: 1.5vw;
  padding: 1.5vw 0.5vw;
  margin: 1vw 6vw;
  color: white;
}

@media screen and (max-width: 600px) {
  form p.description {
    font-size: 4vw;
    text-align: center;
    font-weight: 400;
    margin: 5vw 0;
  }
}

form button {
  border: none;
}

form button.google {
  grid-area: 3 / 5 / span 1 / span 2;
  font-size: 1.5vw;
  font-weight: 400;
  padding: .7vw 0;
  margin: 1vw 4vw;
  background-color: #fff;
  color: black;
  cursor: pointer;
}

form button.google img {
  width: 1.5vw;
  position: relative;
  left: -1.8vw;
}

@media screen and (max-width: 600px) {
  form button.google img {
    width: 4vw;
  }
}

@media screen and (max-width: 600px) {
  form button.google {
    padding: 3vw 0;
    font-size: 3vw;
    border-radius: 1vw;
  }
}

form h4 {
  grid-area: 4 / 5 / span 1 / span 2;
  font-size: 1.5vw;
  text-align: center;
  padding: 1vw 0.5vw;
  padding: 1vw 0;
  margin: 0vw 4vw;
  color: white;
  border: 0;
}

@media screen and (max-width: 600px) {
  form h4 {
    font-size: 3vw;
    margin: 2vw 0;
  }
}

form input {
  border: none;
  padding: 1vw 1.5vw;
}

@media screen and (max-width: 600px) {
  form input {
    padding: 4vw 0;
    border-radius: 1vw;
  }
  form input::placeholder {
    font-size: 3vw;
    font-weight: 500;
    padding-left: 2vw;
  }
}

form input[type="email"] {
  grid-area: 5 / 5 / span 1 / span 2;
  font-size: 1.5vw;
  margin: 1vw 4vw;
}

@media screen and (max-width: 600px) {
  form input[type="email"] {
    margin-bottom: 2vw;
  }
}

form input[type="password"] {
  grid-area: 6 / 5 / span 1 / span 2;
  font-size: 1.5vw;
  margin: 1.3vw 4vw;
}

form p {
  grid-area: 7 / 5 / span 1 / span 2;
  font-size: 1vw;
  margin: 0vw 4vw;
  padding: 0.5vw 0;
  color: white;
}

@media screen and (max-width: 600px) {
  form p {
    font-size: 2.5vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
  }
}

form button.last-button {
  grid-area: 8 / 5 / span 1 / span 2;
  font-size: 1vw;
  font-weight: bold;
  padding: 1.3vw 0;
  margin: 1vw 4vw;
  color: green;
  background-color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  form button.last-button {
    padding: 3vw 0;
    font-size: 3vw;
    border-radius: 1vw;
  }
}

.limited {
  display: flex;
  justify-content: center;
  padding: 7vw 0;
}

@media screen and (max-width: 600px) {
  .limited {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: ' div1 ' ' div2 ';
  }
}

.limited .div1 {
  width: 40%;
  margin-left: 7vw;
  grid-area: div1;
}

@media screen and (max-width: 800px) {
  .limited .div1 {
    width: 70%;
    margin-left: 12vw;
  }
}

.limited .div1 h3 {
  font-size: 3vw;
  font-weight: bold;
  font-family: 'Sawarabi Mincho', sans-serif;
  color: black;
}

@media screen and (max-width: 800px) {
  .limited .div1 h3 {
    font-size: 7vw;
  }
}

.limited .div1 p {
  color: black;
  font-size: 2vw;
  line-height: 3vw;
  letter-spacing: 1px;
  padding-top: 1vw;
}

@media screen and (max-width: 800px) {
  .limited .div1 p {
    font-size: 5vw;
    line-height: 7vw;
    margin: 7vw 0;
  }
}

.limited .div1 button {
  background: green;
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 1vw 2vw;
  color: white;
  margin-top: 2vw;
  border-radius: 0.5vw;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .limited .div1 button {
    font-size: 5vw;
    padding: 3vw 3vw;
  }
}

.limited .div1 button:hover {
  background: #005c00;
}

.limited .div2 {
  grid-area: div2;
  width: 35vw;
  height: 15vw;
  margin: 5vw 0;
  margin-right: 7vw;
  margin-left: 10vw;
  background-image: url(images/discount.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media screen and (max-width: 800px) {
  .limited .div2 {
    width: 70vw;
    height: 30vw;
    margin-top: 10vw;
  }
}

.section10 {
  padding: 5vw 0;
  text-align: center;
}

.section10 .center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .section10 .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.section10 .center div {
  width: 27vw;
}

@media screen and (max-width: 600px) {
  .section10 .center div {
    width: 50vw;
  }
}

.section10 .center div p {
  font-size: 1.5vw;
  text-align: center;
  font-weight: bold;
  margin-top: 18vw;
}

@media screen and (max-width: 600px) {
  .section10 .center div p {
    margin-top: 43vw;
    font-weight: bold;
    font-size: 4vw;
  }
}

.section10 .center div:nth-of-type(1) {
  height: 22vw;
  background-image: url(images/web-clipping.png);
  background-repeat: no-repeat;
  background-size: 45% 45%;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .section10 .center div:nth-of-type(1) {
    height: 50vw;
  }
}

.section10 .center div:nth-of-type(2) {
  height: 22vw;
  background-image: url(images/multi-device-sync.png);
  background-repeat: no-repeat;
  background-size: 45% 45%;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .section10 .center div:nth-of-type(2) {
    height: 50vw;
  }
}

.section10 .center div:nth-of-type(3) {
  height: 22vw;
  background-image: url(images/search-handwriting.png);
  background-repeat: no-repeat;
  background-size: 45% 45%;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .section10 .center div:nth-of-type(3) {
    height: 50vw;
  }
}

.section10 .center div:nth-of-type(4) {
  height: 22vw;
  background-image: url(images/notebooks-tags.png);
  background-repeat: no-repeat;
  background-size: 45% 45%;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .section10 .center div:nth-of-type(4) {
    height: 50vw;
  }
}

.section10 .center div:nth-of-type(5) {
  height: 22vw;
  background-image: url(images/doc-icon.png);
  background-repeat: no-repeat;
  background-size: 45% 45%;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .section10 .center div:nth-of-type(5) {
    height: 50vw;
  }
}

.section10 .center div:nth-of-type(6) {
  height: 22vw;
  background-image: url(images/pdf-document-search.png);
  background-repeat: no-repeat;
  background-size: 45% 45%;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .section10 .center div:nth-of-type(6) {
    height: 50vw;
  }
}

footer.footer {
  display: flex;
  flex-direction: column;
  padding: 4vw 0;
  background-color: #fff;
}

footer.footer div.logo {
  width: 14vw;
  height: 6vw;
  padding: 4vw;
  margin-left: 4vw;
  background-image: url(../images/logo.jpg);
  background-size: 100% 100%;
}

footer.footer div.line {
  width: 90%;
  margin: 0 auto;
}

footer.footer div.line hr {
  width: 100%;
  border: none;
  height: 5px;
  background-color: #000;
}

footer.footer div.text {
  display: flex;
  flex-direction: column;
}

footer.footer div.text p {
  display: flex;
}

footer.footer div.text:first-of-type($i) {
  font-style: bold;
}

footer.footer div.text p {
  display: flex;
}

footer.footer div.text:first-of-type($i) {
  font-style: bold;
}

footer.footer div.text p {
  display: flex;
}

footer.footer div.text:first-of-type($i) {
  font-style: bold;
}

footer.footer div.text p {
  display: flex;
}

footer.footer div.text:first-of-type($i) {
  font-style: bold;
}
