.limited {
  display: flex;
  justify-content: center;
  padding: 7vw 0;
}

@media screen and (max-width: 600px) {
  .limited {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: ' div1 ' ' div2 ';
  }
}

.limited .div1 {
  width: 40%;
  margin-left: 7vw;
  grid-area: div1;
}

@media screen and (max-width: 800px) {
  .limited .div1 {
    width: 70%;
    margin-left: 12vw;
  }
}

.limited .div1 h3 {
  font-size: 3vw;
  font-weight: bold;
  font-family: 'Sawarabi Mincho', sans-serif;
  color: black;
}

@media screen and (max-width: 800px) {
  .limited .div1 h3 {
    font-size: 7vw;
  }
}

.limited .div1 p {
  color: black;
  font-size: 2vw;
  line-height: 3vw;
  letter-spacing: 1px;
  padding-top: 1vw;
}

@media screen and (max-width: 800px) {
  .limited .div1 p {
    font-size: 5vw;
    line-height: 7vw;
    margin: 7vw 0;
  }
}

.limited .div1 button {
  background: green;
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 1vw 2vw;
  color: white;
  margin-top: 2vw;
  border-radius: 0.5vw;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .limited .div1 button {
    font-size: 5vw;
    padding: 3vw 3vw;
  }
}

.limited .div1 button:hover {
  background: #005c00;
}

.limited .div2 {
  grid-area: div2;
  width: 35vw;
  height: 15vw;
  margin: 5vw 0;
  margin-right: 7vw;
  margin-left: 10vw;
  background-image: url(images/discount.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media screen and (max-width: 800px) {
  .limited .div2 {
    width: 70vw;
    height: 30vw;
    margin-top: 10vw;
  }
}

.section10 {
  padding: 5vw 0;
  text-align: center;
}

.section10 .center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .section10 .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.section10 .center div {
  width: 27vw;
}

@media screen and (max-width: 600px) {
  .section10 .center div {
    width: 50vw;
  }
}

.section10 .center div p {
  font-size: 1.5vw;
  text-align: center;
  font-weight: bold;
  margin-top: 18vw;
}

@media screen and (max-width: 600px) {
  .section10 .center div p {
    margin-top: 43vw;
    font-weight: bold;
    font-size: 4vw;
  }
}

.section10 .center div:nth-of-type(1) {
  height: 22vw;
  background-image: url(images/web-clipping.png);
  background-repeat: no-repeat;
  background-size: 45% 45%;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .section10 .center div:nth-of-type(1) {
    height: 50vw;
  }
}

.section10 .center div:nth-of-type(2) {
  height: 22vw;
  background-image: url(images/multi-device-sync.png);
  background-repeat: no-repeat;
  background-size: 45% 45%;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .section10 .center div:nth-of-type(2) {
    height: 50vw;
  }
}

.section10 .center div:nth-of-type(3) {
  height: 22vw;
  background-image: url(images/search-handwriting.png);
  background-repeat: no-repeat;
  background-size: 45% 45%;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .section10 .center div:nth-of-type(3) {
    height: 50vw;
  }
}

.section10 .center div:nth-of-type(4) {
  height: 22vw;
  background-image: url(images/notebooks-tags.png);
  background-repeat: no-repeat;
  background-size: 45% 45%;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .section10 .center div:nth-of-type(4) {
    height: 50vw;
  }
}

.section10 .center div:nth-of-type(5) {
  height: 22vw;
  background-image: url(images/doc-icon.png);
  background-repeat: no-repeat;
  background-size: 45% 45%;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .section10 .center div:nth-of-type(5) {
    height: 50vw;
  }
}

.section10 .center div:nth-of-type(6) {
  height: 22vw;
  background-image: url(images/pdf-document-search.png);
  background-repeat: no-repeat;
  background-size: 45% 45%;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .section10 .center div:nth-of-type(6) {
    height: 50vw;
  }
}
