.hamburg_home {
  display: grid;
  width: 100%;
  background-color: #00a82d;
  grid-template: repeat(9, auto)/repeat(6, 1fr);
  grid-gap: 0.5vw 2vw;
}

.hamburg_home h2, .hamburg_home p, .hamburg_home button {
  padding: 1.5vw 0.5vw;
  margin: 1vw 6vw;
  border-radius: 0.5vw;
}

.hamburg_home h2 {
  grid-area: 3 / 1 / span 2 / span 3;
  color: white;
  font-size: 4vw;
}

.hamburg_home p {
  grid-area: 6 / 1 / span 1 / span 3;
}

.hamburg_home button {
  grid-area: 7 / 1 / span 1 / span 2;
  background-color: #fff;
  color: #00a82d;
}
