.hamburg_home{
    background-color: #00a82d;


    div.container{
      display: flex;
      flex-direction: row;
      padding: 10vw 0vw;

      div:first-of-type{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5vw 2vw;
        margin: 2vw 0vw;
        width:40vw;
        h2,p{
          color:#fff;

        }
        h2{
          font-size: 4vw;
        }
        button{
          color: green;
          width: 50%;
          font-size: 2vw;
          background-color: #fff;
          border-radius: 0.3vw;
       }

      }
      div:last-of-type{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5vw 7vw;
        margin: 2vw;
        width:40vw;
        border:5px;
        h2{
          color:#fff;
          font-size: 4vw;
        }
        img{
          width:30vw;


        }

      }
    }
}
