.hamburg_home{
    display: grid;
    width: 100%;
    background-color: #00a82d;
    grid-template: repeat(9,auto) / repeat(6, 1fr);
    grid-gap: 0.5vw 2vw;
    h2,p,button{
      padding: 1.5vw 0.5vw;
      margin:1vw 6vw;
      border-radius: 0.5vw;
    }
        h2{
          grid-area: 3 / 1 / span 2 / span 3;
          color:white;
          font-size: 4vw;

        }
        p{
          grid-area: 6 / 1 / span 1 / span 3;
        }
        button{
          grid-area: 7 / 1 / span 1 / span 2;
          background-color: #fff;
          color:#00a82d;

        }

}
