%flex{
  display:flex;
  flex-direction: column;
}


.hamburg_home{
    background-color: #00a82d;


    div.container{
      @extend %flex;
      flex-direction: row;
      justify-content: space-between;

      padding: 10vw 0vw;
      margin: 1vw 1vw;

      div:first-of-type{
        @extend %flex;

        padding: 1.5vw 2vw;
        margin: 2vw 1.5vw;
        width:40vw;
        h2,p{
          color:#fff;

        }
        h2{
          font-size: 4vw;
        }
        button{
          color: green;
          width: 50%;
          font-size: 2vw;
          background-color: #fff;
          border-radius: 0.3vw;
       }

      }
      div:last-of-type{
        @extend %flex;
        padding: 1.5vw 7vw;
        margin: 2vw 2vw;
        width:30vw;
        border:5px;
        align-self: flex-start;
        h2{
          color:#fff;
          font-size: 4vw;
        }
        img{
          width:35vw;
        }

      }
    }
}
