.hamburg_home div.container, .hamburg_home div.container div:first-of-type, .hamburg_home div.container div:last-of-type {
  display: flex;
  flex-direction: column;
}

.hamburg_home {
  background-color: #00a82d;
}

.hamburg_home div.container {
  flex-direction: row;
  justify-content: space-between;
  padding: 10vw 0vw;
  margin: 1vw 1vw;
}

.hamburg_home div.container div:first-of-type {
  padding: 1.5vw 2vw;
  margin: 2vw 1.5vw;
  width: 40vw;
}

.hamburg_home div.container div:first-of-type h2, .hamburg_home div.container div:first-of-type p {
  color: #fff;
}

.hamburg_home div.container div:first-of-type h2 {
  font-size: 4vw;
}

.hamburg_home div.container div:first-of-type button {
  color: green;
  width: 50%;
  font-size: 2vw;
  background-color: #fff;
  border-radius: 0.3vw;
}

.hamburg_home div.container div:last-of-type {
  padding: 1.5vw 7vw;
  margin: 2vw 2vw;
  width: 30vw;
  border: 5px;
  align-self: flex-start;
}

.hamburg_home div.container div:last-of-type h2 {
  color: #fff;
  font-size: 4vw;
}

.hamburg_home div.container div:last-of-type img {
  width: 35vw;
}
