* {
  margin: 0;
  padding: 0;
}

nav {
  position: fixed !important;
  background-color: white;
  width: 100%;
}

nav div img {
  width: 15vw;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  nav div img {
    width: 35vw;
  }
}

@media screen and (max-width: 600px) {
  nav div:last-of-type div {
    display: flex;
    flex-direction: column;
  }
}

nav div:last-of-type div .dropdown {
  margin: 0 !important;
}

nav div:last-of-type div .dropdown:hover .dropdown-content {
  display: grid;
  width: auto;
  grid-template-columns: auto auto auto;
  grid-auto-rows: auto;
  grid-template-areas: 'basic . compare' 'premium . contact ' 'business . .';
  cursor: pointer;
}

nav div:last-of-type div .dropdown button {
  font-weight: bold;
}

nav div:last-of-type div .dropdown button i {
  font-size: 0.8vw;
}

nav div:last-of-type div .dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
}

nav div:last-of-type div .dropdown-content {
  display: none;
  padding: 0.5vw;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

nav div:last-of-type div .dropdown-content div {
  padding: 1vw 0.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav div:last-of-type div .dropdown-content div:nth-of-type(1) {
  grid-area: basic;
}

nav div:last-of-type div .dropdown-content div:nth-of-type(2) {
  grid-area: premium;
}

nav div:last-of-type div .dropdown-content div:nth-of-type(3) {
  grid-area: business;
}

nav div:last-of-type div .dropdown-content div:nth-of-type(4) {
  grid-area: compare;
}

nav div:last-of-type div .dropdown-content div:nth-of-type(5) {
  grid-area: contact;
}

nav div:last-of-type div .dropdown-content div:hover {
  background-color: green;
}

nav div:last-of-type div .dropdown-content div:hover i {
  color: white;
}

nav div:last-of-type div .dropdown-content div:hover div.box1 p {
  color: white;
}

nav div:last-of-type div .dropdown-content div:hover div.box1 span {
  color: white;
}

nav div:last-of-type div .dropdown-content div i {
  font-size: 3vw;
  color: green;
}

nav div:last-of-type div .dropdown-content div div.box1 {
  margin-left: 1vw;
  margin-right: 3vw;
  display: flex;
  flex-direction: column;
}

nav div:last-of-type div .dropdown-content div div.box1 p {
  text-transform: uppercase;
  color: green;
  font-size: 1vw;
  width: 10vw;
  margin: 0;
}

nav div:last-of-type div .dropdown-content div div.box1 span {
  font-size: 0.8vw;
  color: green;
  width: 10vw;
}

nav div:last-of-type div a {
  font-weight: bold;
  margin: 0 1.5vw;
  color: black;
  text-decoration: none;
}

nav div:last-of-type div a:hover {
  color: #009a00;
}

nav div:last-of-type div.box-right {
  margin-right: 3vw;
}

nav div:last-of-type div.box-right a {
  font-weight: normal;
  text-decoration: none;
}

nav div:last-of-type div.box-right span {
  margin: 0 1vw;
}

nav div:last-of-type div.box-right button {
  border: 2px solid #33cc33;
  background-color: white;
  padding: 0.5vw 2.5vw;
  cursor: pointer;
  border-radius: 0.3vw;
}

nav div:last-of-type div.box-right button:hover {
  border-color: #00e600;
}

.header {
  padding: 5vw 0;
  background-color: #f5f5f0;
}

.header div.bg-grey {
  background-color: #f5f5f0;
  margin: 5vw 0;
}

.header div.bg-grey p {
  font-size: 2.2vw;
  color: grey;
}

.header img {
  margin: 6vw 0;
}
