*{
  margin:0;
  padding:0;
}

nav{

 div{
     img{
       width:15vw;
       cursor: pointer;
       @media screen and (max-width: 600px){
         width: 35vw;
       }
     }
 }

 div:last-of-type{
   div{
     @media screen and (max-width: 600px){
       display: flex;
       flex-direction: column;
     }

        .dropdown {
         margin: 0!important;

          &:hover .dropdown-content {
            display: flex;
            flex-direction: column;
            cursor: pointer;
          }

         button{
           font-weight: bold;

           i{
             font-size: 0.8vw;
           }
         }
            .dropbtn {
                border: none;
                outline: none;
                background-color: inherit;
                }
          }


         .dropdown-content {
          display: none;
          padding: 0.5vw;
          position: absolute;
          background-color: #f9f9f9;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
          div {
             padding: 1vw 0.5vw;
             display: flex;
             flex-direction: row;
             align-items: center;

                &:hover{
                 background-color: green;
                 i{
                     color:white;
                  }

                  div.box1 p{
                    color: white;
                  }

                  div.box1 span{
                    color: white;
                  }

                }

                i{
                  font-size: 3vw;
                  color: green;

                }

                div.box1{
                  margin-left: 1vw;
                  margin-right: 3vw;
                  display: flex;
                  flex-direction: column;

                   p{
                     text-transform: uppercase;
                     color: green;
                     font-size: 1vw;
                     width:10vw;
                     margin: 0;
                   }

                   span{
                     font-size: 0.8vw;
                     color: green;
                     width:10vw;

                   }

               }
             }
          }



        a{
          font-weight: bold;
          margin:0 1.5vw;
          color: black;
          text-decoration: none;

          &:hover{
            color: lighten(green, 5%);
          }


        }

     }

     div.box-right{
       margin-right: 3vw;

         a{
         font-weight: normal;
         text-decoration: none;
        }

        span{
          margin: 0 1vw;
        }

        button{
          border: 2px solid #33cc33;
          background-color: white;
          padding: 0.5vw 2.5vw;
          cursor: pointer;
          border-radius: 0.3vw;
          &:hover{
            border-color: lighten(green, 20%);
          }
        }

  }



 }

}
