.hamburg_home {
  background-color: #00a82d;
}

.hamburg_home div.container {
  display: flex;
  justify-content: center;
  padding: 10vw 0vw;
}

.hamburg_home div.container div:first-of-type {
  display: flex;
  flex-direction: column;
  padding: 1.5vw 0.3vw;
  margin: 2vw 0vw;
  width: 40vw;
}

.hamburg_home div.container div:first-of-type h2, .hamburg_home div.container div:first-of-type p {
  color: #fff;
}

.hamburg_home div.container div:first-of-type button {
  color: green;
  width: 50%;
  font-size: 1.5vw;
  background-color: #fff;
  border-radius: 0.5vw;
}

.hamburg_home div.container div:last-of-type {
  display: flex;
  flex-direction: column;
  padding: 1.5vw 0.3vw;
  margin: 2vw;
  width: 40vw;
  border: 5px;
}

.hamburg_home div.container div:last-of-type h2 {
  color: #fff;
}

.hamburg_home div.container div:last-of-type img {
  width: 30vw;
}
